service: my-website-api

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-east-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["ProjectsDynamoDBTable", "Arn" ] }
  environment:
    PROJECTS_TABLE: ProjectsTable

functions:
  app:
    handler: index.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'

resources:
  Resources:
    ProjectsDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: projectName
            AttributeType: S
        KeySchema:
          -
            AttributeName: projectName
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ProjectsTable

plugins:
  - serverless-dynamodb-local
  - serverless-offline #serverless-offline needs to be last in the list
  - serverless-apigw-binary

custom:
  tableName: 'ProjectsTable'
  dynamodb:
    start:
      migrate: true
  apigwBinary:
    types:           #list of mime-types
      - 'image/jpeg'
      - 'text/html'
