<h2>Upload</h2>
<form action="/images" method="post">
    <div>
      <label for="projectName">projectName:</label>
      <input id="projectName" type="text" name="projectName">
    </div>
    <div>
      <label for="filePath">file:</label>
      <input id="filePath" type="file" name="filePath">
    </div>
    <div>
      <input type="submit" value="upload image">
    </div>
</form>
